.header {
    background-color: #4390ab;
}
.title {
    height: 10px;
    font-size: 30px;
    margin-right: 1000px;
}
.login-info {
    margin-left: 1000px;
}

#nav-nav{
    display: flex;

}

#navigation-logo {
    background-color: #26cec6;
    z-index: 10;
    width: 90px;
    height: 90px;
}

#navigation-font {
    display: flex;
    font-size: 20px;
}

.page-1 {
    background-color: #dce9ee;
    height: 760px;
}
.page-2 {
    background-color: #4390ab;
    height: 760px;
}

.page-3 {
    background-color: antiquewhite;
    height: 780px;
}
.footer {
    color: cornflowerblue;
    height: 200px;
}

